.popOver{
    width:100%;
    padding: auto;
}
.linkWrap{
    overflow:hidden;
    height: 50px;
}
.exploreLink{
    margin: 0;
    margin-left: 200px;
    font-family: 'CooperBlack';
    font-size:28px;
    animation: slideDown 1.1s ease-in;
}

.descriptionWrap{
    overflow:hidden;
    height: auto;
}
.description{
    text-align: left;
    padding: auto;
    margin: auto;
    font-size: 20px;
    animation: slideDown 0.7s ease-out;
}




@keyframes slideDown{
    0%{        
        transform: translateY(-200%)}
    100%{
        transform: translateY(0%)
    }


}

 