.photoCards{
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px 40px 40px 20px;
    width: 100%;
    height:316px;
    overflow-y :scroll;
    scroll-snap-type: y mandatory;
}

.yo{
    height:200px;

}

.cover{
    height:320px;
    background-color: yellow;
}