.title{
    font-family:'CooperBlack';
    font-size: 100px;
    font-style: italic;
    height:auto;
    text-align:center;
    width:100%;
}
.galleryGrid{
    width: 350px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin: 10px;
    gap: 15px 10px;
}

.galleryColumns{
    display:flex;
    flex-direction: vertical;
    justify-content: space-evenly;
}
.galleryImage{
height: auto; 
width: 100%; 
object-fit: contain;
}
