.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px 20px 0 20px; 
    height:250px;
}

textarea{
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: left;
}
.inputEmail{
    /* height: auto; */
    flex:1;
}

.inputEnquiry{
    /* height: auto; */
    flex:8;
}