
.photoCard {
  width: 316px;
  height: 316px;
  position: relative;
  scroll-snap-align: center;
}
.photoCard + .photoCard{
  margin-top:60px;
}

.mask{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
}
.overlay{
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}


.annotation{
  margin-top: 150px;
  padding: auto;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: 'CooperBlack';
  font-size:62px;
}

.annotationLetterContainer{
  overflow: hidden;
  width: auto;
}
.annotationLetterShow{
margin:0;
transform: translateX(0%);
transition: transform 0.9s ease-out;


}
.annotationLetterHide{

transform: translateX(-150%);
transition: all 0.3s ease-in;

}
.annotation:hover {
  color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
}


