
.title {
    font-family:'CooperBlack';
    font-size: 100px;
    font-style: italic;
    height:225px;
    text-align:center;
    width:100%;
}

.subtitle{
    font-family:'CooperBlack';
    font-size: 20px;
    font-style: italic;
    text-align: right;
}

.navbar{
    font-style: italic;
    font-family:'CooperBlack';
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 50px;
}