@font-face{
  font-family: 'CooperBlack';
  src:local('CooperBlack'), url(./fonts/CooperBlack-Italic.otf) format('otf');
}
body {
  margin: 0;
  font-family:
   -apple-system, BlinkMacSystemFont, 
   'Segoe UI',
   'Roboto', 
   'Oxygen',
   'Ubuntu', 
   'Cantarell', 
   'Fira Sans', 
   'Droid Sans', 
   'Helvetica Neue',
    sans-serif,
    'CooperBlack';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


